################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

/.vs/MyMFC/v17
/MyMFC/x64/Debug/MyMFC.tlog
/MyMFC/x64/Debug
/x64/Debug
